body {
    background-color: #374878;
}
h1 {
    text-align: center;
}
form {
    text-align: center;
}
button {
    margin-top: 10px;
    margin-right: 10px;
}
.back-to-home {
    display: none;
}
.pokemon-info-container {
    display: flex;
    flex-flow: row wrap;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}
.next-previous-buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.previous-page,
.next-page {
    flex: 1;
    max-width: 120px;
}
.pokemon-next-previous-buttons {
    display: none;
    flex-flow: row wrap;
    justify-content: center;
}
.previous-pokemon, 
.next-pokemon {
    flex: 1;
    max-width: 120px;
}
.pokemon-info-div {
    flex: 1;
    background-color: azure;
    width: 150px;
    max-width: 150px;
    height: auto;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 10px;
    font-size: larger;
    text-align: center;
    border-radius: 15px;
    box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease-in-out;
}
.pokemon-info-div:hover {
    transform: scale(1.2);
}
.single-pokemon-info-div {
    background-color: azure;
    width: auto;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    font-size: larger;
    text-align: center;
    border-radius: 15px;
    box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.4);
}
.single-pokemon-info-div img {
    width: 250px;
    display: block;
}
img {
    width: 150px;
}

/* in progress */
.extra-info-container {
    display: flex;
    flex-flow: row wrap;
    background-color: azure;
    margin-top: 15px;
    padding: 15px;
    width: inherit;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.4);
}
.extra-info-container > * {
    flex: 1;
    padding: 10px;
    text-align: center;
}
.pokemon-type {
    display: inline-block;
    background-color: black;
    border-radius: 15px;
    padding: 10px;
    margin-top: 5px;
    margin-right: 10px;
    width: 7em;
    color: white;
}
table {
    align-items: center;
}
.stat-value-cell {
    width: 10em;
    text-align: left;
    padding: 5px;
}
.stat-name-cell {
    text-align: right;
    width: 30%;
}